alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ~ ="cd ~"

alias dropbox="cd ~/Dropbox"
alias projects="cd /Volumes/Data/Dev/Projects"

alias g="git"
alias gpush="git push"
alias gpull="git pull"
alias gf="git fetch"
